body{

  background-color: #1a1a1a;
  padding: 0;
  margin: 0;

}

#banner{
  
  height: 760px;
  width: 1350px;
  background-color: blue;
}

li a{

  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  padding: 20px;

}

ul{
  
  display: flex; /* Ativa a propriedade de alinhamento*/
  flex-direction: row; /*Coloca os elementos na horizontal*/

}

li{
  
  list-style: none; /* Remove os pontos da lista*/

}

nav{

  display: flex;
  flex-direction: row;
  align-items: center;

}

#logo{

  height: 100px;
  width: 100px;

}