  *{
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
  }

#banner{
    height: 585px;
    width: 1365px;
}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;

}

#logo{

    height: 200px;
    width: 400px;

}