body{

  background-color: #1a1a1a;
  padding: 0;
  margin: 0;

}

.banner{
  
  height: 500px;
  width: 950px;
  background-image: url("./assents/Rectangle\ 11.png"); /* Ele adiciona uma imagem como fundo */
  background-size: cover;
  display: flex;
  align-items: center;

}

li a{

  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  padding: 20px;

}

ul{
  
  display: flex; /* Ativa a propriedade de alinhamento*/
  flex-direction: row; /*Coloca os elementos na horizontal*/

}

li{
  
  list-style: none; /* Remove os pontos da lista*/

}

nav{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

#logo{

  height: 100px;
  width: 100px;

}

.bi{

  font-size: 30px;
  color: #4c544c;

}

.texto-banner{

  color: aliceblue;
  font-size: 25px;

}

.botao-banner{

  width: 130px;
  height: 40px;
  border-radius: 55px;
  border: none;
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
  font-size: 19px;
  margin: 60px;
  margin-top: 1px;
  

}

.banner-estrutura{

  width: 220px;
  padding: 20px;
  padding-top: auto;

}

.section-banner{

  display: flex;
  justify-content: center;

}

.titulo{

  color: #ffffff;
  font-weight: bold;
  font-size: 30px;

}

.estrutura-titulo{

  display: flex;
  justify-content: center;
  padding: 30px;

}

.produtos{

  height: 390px;
  width: 250px;
  
}

.valor{

  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  
}

.card-texto {

  display: flex;
  justify-content: center;

}

.card {

  width: 250px;
  height: 430px;

}

.cores {

  height: 15px;
  width: 15px;
  border: none;
  border-radius: 55px;

}

.vermelho {
  background-color: red;
}

.laranja {
  background-color: orange;
}

.azul {
  background-color: blue;
}

.preto {
  background-color: black;
}