body{

  background-color: #1a1a1a;
  padding: 0;
  margin: 0;

}

.banner{
  
  height: 800px;
  width: 1350px;
  background-image: url("./assents/Rectangle\ 11.png"); /* Ele adiciona uma imagem como fundo */
  background-size: cover;

}

li a{

  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  padding: 20px;

}

ul{
  
  display: flex; /* Ativa a propriedade de alinhamento*/
  flex-direction: row; /*Coloca os elementos na horizontal*/

}

li{
  
  list-style: none; /* Remove os pontos da lista*/

}

nav{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

#logo{

  height: 100px;
  width: 100px;

}

.bi{

  font-size: 30px;
  color: #4c544c;

}

.texto-banner{

  color: aliceblue;
  font-size: 25px;

}

.botao-banner{

  width: 130px;
  height: 40px;
  border-radius: 55px;
  border: none;
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
  font-size: 19px;
}